.icon {
    display: block;
    background: url(../img/icon-sprite.svg) no-repeat;
}

.icon-2 {
    display: block;
    background: url(../img/icon-sprite-2.svg) no-repeat;
}

.icon-3 {
    display: block;
    background: url(../img/icon-sprite-3.svg) no-repeat;
}

.icon-4 {
    display: block;
    background: url(../img/icon-sprite-4.svg) no-repeat;
}

.icon-5 {
    display: block;
    background: url(../img/icon-sprite-5.svg) no-repeat;
}

.icon-new-1 {
    display: block;
    background: url(../img/icon-sprite-new-1.svg) no-repeat;
}

html,
body {
    font-size: 12px;
    color: #bfbfbf;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
    height: 100%;
}


.bg-inverted {
    filter: invert(100%);
}

/* 简易的需要垂直居中的元素 */
.ud-v-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ud-all-middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ud-h-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.active {
    color: #fff;
    font-weight: bold;
}

div,
input,
textarea {
    touch-action: none;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.btn-clear {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* 可按下效果 */
.pressable:active {
    transform: translateX(2px) translateY(2px)
}

/* 滚动条定制 */
.scrollable-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scrollable-1::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
    /* max-width: 10px; */
    /* background-color: #F5F5F5; */
}

.scrollable-1::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

/* 通用的文本长度限制和省略号效果 */
.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 可视化编辑区域的基础样式重置 */
#display-container {
    color: #000;
    box-sizing: border-box;
}


/* 下面是对element-ui的定制 */

/* ============ 数字输入框 ============  */
#property-panel .el-input-number {
    width: 100%;
}

/* 数字框右侧的小箭头 */
#property-panel .el-input-number {
    line-height: 22px;
}

#property-panel .el-input-number span {
    border: none;

    background: #151515;
    width: 16px;
    height: 10px !important;
    border-left: 1px solid #313131;
}

#property-panel .el-input-number i {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 2px;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    display: inline-block;
    font-size: 12px;
    transform: scale(.58333333) rotate(0deg);
    zoom: 1;
    /* color: #999; */
    color: #ffa800;
}

#property-panel .el-input-number .el-icon-arrow-up:before {
    /* content: "\E610"; */
}


/* ============  文本框 ============  */
#property-panel .el-input__inner {
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    border-radius: 0;
    transition: border .2s cubic-bezier(.645, .045, .355, 1), background .2s cubic-bezier(.645, .045, .355, 1), box-shadow .2s cubic-bezier(.645, .045, .355, 1);
    border: 1px solid #444;
    color: #a0a0a0;
    background-color: #353535;
    padding: 4px 7px;
    text-align: left;
}

/* ============  多行文本框 ============  */
#property-panel .el-textarea__inner {
    padding: 4px 7px;
    width: 100%;
    border: 1px solid #444;
    border-radius: 2px;
    color: #a0a0a0;
    background-color: #353535;
    transition: border .2s cubic-bezier(.645, .045, .355, 1), background .2s cubic-bezier(.645, .045, .355, 1), box-shadow .2s cubic-bezier(.645, .045, .355, 1);

}

#property-panel .el-textarea__inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#property-panel .el-textarea__inner::-webkit-scrollbar {
    width: 4px !important;
    height: 6px !important;
    /* max-width: 10px; */
    /* background-color: #F5F5F5; */
}

#property-panel .el-textarea__inner::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

/* ============  滑动条 ============  */

/* 颜色仿照iH5 */
#app .el-slider__bar {
    /* FIXME:2019年04月12日 发现默认蓝色和黑色背景也挺配，取消仿照iH5样式 */
    /* background-color: #ffa800;  */
}

/* ============  取色器 ============  */

#app .el-color-picker {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#app .el-color-picker .el-color-picker__trigger {
    border: none;
    width: 100%;
}

/* ============  下拉框 ============  */
.el-select-dropdown .el-scrollbar .el-select-dropdown__wrap {
    border: none;
    padding: 0 0 0 0;
    max-height: 380px;
}

.el-select-dropdown .el-scrollbar .el-select-dropdown__list {
    overflow: visible;
    /* max-height: 380px; */
    outline: none;
    margin-bottom: 0;
    padding: 0 0 0 0;
    list-style: none;

    color: #a0a0a0 !important;
    border: 1px solid #353535 !important;
    background: #353535;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 2px 2px 5px #1d1d1d;

    box-shadow: 0 1px 6px hsla(0, 0%, 39%, .2);
    /* border-radius: 6px; */
    box-sizing: border-box;
    z-index: 1050;
    outline: none;
    overflow: hidden;
    font-size: 12px;
}

.el-select-dropdown .el-scrollbar .el-select-dropdown__item {
    color: #a0a0a0;
    /* padding: 7px 15px; */
    font-weight: 400;
    color: #666;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;

    border: 1px solid #353535 !important;
    background: #353535;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 2px 2px 5px #1d1d1d;


    border: 1px solid #d9d9d9;
    box-shadow: 0 1px 6px hsla(0, 0%, 39%, .2);
    /* border-radius: 6px; */
    box-sizing: border-box;
    z-index: 1050;
    outline: none;
    overflow: hidden;
    font-size: 12px;
}

.el-select-dropdown .el-scrollbar .el-select-dropdown__item:hover {
    background: #151515;
    /* color: #fff; */
    color: #ffa800;
}

.form-dropdown .el-select {
    width: 100%;
}

#app .el-switch__core {
    width: 100% !important;
}

#app .el-switch {
    width: 100%;
}

/* ============  表单标签框 ============  */
#app .el-form-item__label {
    font-size: 12px;
    color: #a0a0a0;
}

/* 表单项 */
#app .el-form-item {
    margin-bottom: 0px;
}

#app .el-form-item__label {
    padding-right: 6px;
}

/* 只有第一个表单item左侧需要预留label的空间 */
#app .el-form-item__content {
    margin-left: 0 !important;
}

#app .first .el-form-item__content {
    margin-left: 55px !important;
}

/* ============  工具栏的tooltip ============  */
.ud-tool-tip {
    font-size: 12px;
    color: #000;
}